body{
    width: 700px;
   
    margin: 10px auto;
    text-align: center;
}

.unflex-display{
    width: 300px;
    display: inline-block;
    margin-right: 10px;
   
    
}

.flex-con1{
  
    
}

.flex-con1 div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    margin: auto;
   
}

.flex-display{
    width: 300px;
    
    
    display: inline-block;
   
    
}

.flex-con2{
  display: flex;
  
  height: 264px;
  
 
    
}

.flex-con2 div{
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    flex: 1;
    
    
   
}